* {
  margin: 0;
  padding: 0;
}

html, body { 
	height: 100%;
	background-color: #FFFFFF;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -10em;
}
/*****************************************************************************/
/*
/* Header
/*
/*****************************************************************************/
header {
	margin-left: auto;
	margin-right: auto; 
	text-align: center;
	width: 100%;
	height: 125px;
	background-color: #FFFFFF;
}

header > .title {
	width: 100%;
	font-family: 'Caesar Dressing', sans-serif;
	font-size: 1.5em;
	padding: auto;
	padding-top: 1em;
	text-align: center;
}

a {
	color: black;
	text-decoration: none;
}

h2 > a {
	color: black;
	text-decoration: none;
}

.main {
	margin: auto;
	padding: auto;
}

.main > p {
	vertical-align: center;
	text-align: center;
	font-size: 8em;
	font-family: 'Quicksand', sans-serif;
	color: #B2B2B2;
}

/*****************************************************************************/
/*
/* Footer
/*
/*****************************************************************************/
.footer, .push{
	height: 15em;
	clear: both;
}

.footer {
	min-width: 101%;
	background-color: #FF4719;
	font-family: 'Caesar Dressing', sans-serif;
}

.footer > #footerleft {
	margin: 1em 0 0 5em;
	float: left;
}

.footer > #footerright {
	text-align: center;
	width: 40%;
	margin: 7em 10em 0 0;
	float: right;
}

span {
	text-decoration: underline;
}
#footerleft > tr {
	margin: 1em;
}

tr > td {
	font-size: 1.5em;
	padding: .5em;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

